[Unit]
Description=Audio Monitoring Python Script

[Service]
Type=simple
WorkingDirectory=/home/rpi/datacenter_monitor_audio_sensor
ExecStart=/home/rpi/datacenter_monitor_audio_sensor/venv/bin/python -u process_audio.py
Restart=on-failure
RestartSec=60
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target